.header-bar {
	background-color: black;
	height: 100px;	
	color: white;
}

h1 {
	color: yellow;
}

li {
	display: inline-block;
	float: right;
	width: 10%;
}

.container-1 {
background-color: gray;
height: 80px;
text-align: center;
}

/* This is the text strikethrough span */
.brain-1 {

}

/* This is the text underline yellow span */
.brain-2 {

}

/*This is the opacity box */
.about {
	background-color: ;
}

.container-2 {
background-image: url("../images/coworking.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 400px;
}

.container-3 {
background-color: gray;
}

footer {
	background-color: black;
	color: white;
}